##########################
# APP                    #
##########################

# ON / OFF options (1|0)
APP_DEBUG=0
RUN_GIFTUH=0
RUN_METAPIXEL=0

# Password for creating projects
APP_PWD=yourpassword

##########################
# MONGO                  #
##########################
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

##########################
# METAPIXEL              #
##########################

# Periodicity (in minutes) when the process will be run
MTPX_PERIODICITY=2

##########################
# TWITTER                #
##########################

TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=