node_modules

src/giftuh/downloaded_images/*
!src/giftuh/downloaded_images/.gitkeep

src/metapixel/originals/*
!src/metapixel/originals/.gitkeep

public/img/mosaics/*
!public/img/mosaics/.gitkeep

.env
.idea/